# macOS system files
.DS_Store
.AppleDouble

# Python-related files
__pycache__/
*.pyc
venv/
.env

# Node.js-related files
node_modules/
frontend/

# Firebase-related files
firebase/
*.json

# 기타 파일
*.csv