# macOS system files
.DS_Store
.AppleDouble

# Python-related files
__pycache__/
*.pyc
venv/
.env

# Node.js-related files
node_modules/
frontend/

# Firebase-related files
firebase/
*.json

# 기타 파일
*.csv

# 업로드 파일 디렉토리
backend/uploads/profiles/
backend/uploads/zones/