# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spotlight files
.Spotlight-V100

# Trash
.Trashes

# Volume settings
.VolumeIcon.icns

__pycache__/
*.pyc
venv/
.env

.node_modules/

firebase/

*.csv
# IntelliJ IDE specific files
.idea/
.cursor/rules/command.mdc
uploads/profiles/profile20251011_203926_603187ee.png
/uploads
